@charset "utf-8";
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
}

/* 🎈header */
.menu_open {
    display: none;/* 테블릿에서 보이게 할거라 지금은 안보이게 처리 */
    font-family: 'yg-jalnan';
}
header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: fixed;/* 헤더 위치고정 */
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.691);
    backdrop-filter: blur(7px);/* 뒷배경 블러효과 */
}
header .inner {
    max-width: 1280px;
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header .inner h1 {
    font-family: 'yg-jalnan';
}
header .inner nav ul li {
    display: inline-block;/* 메뉴 가로나열 */
    margin-left: 30px;/* 간격띄우기 */
    font-family: 'yg-jalnan';
}

/* 🎈main_visual */
.main_visual {
    height: 100vh;
    /* 헤더고정 여기에 position 넣으면 안됨 */
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 🎈cont01 */
.cont01 .list .item {
    height: 600px;
    display: flex;
    align-items: center;/* img, div둘다 가운데 정렬 */
}
.cont01 .list .item img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.cont01 .list .item div {
    width: 50%; /* flex썼다고 둘다 적용x img, div 둘다 값을 적어줘야 적용됨 */
    padding: 50px;/* 여백주기 */
    box-sizing: border-box;/* padding, border를 포함해서 설정값으로 적용 */
}
.cont01 .list .item div h4 {
    font-size: 15px;
    margin-bottom: 15px;
    font-family: 'yg-jalnan';
}
.cont01 .list .item div p {
    font-family: 'KOTRAHOPE';
}
.cont01 .list .item div a {
    border: 1px solid #000;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    display: block;/* 꼭있어야됨!!!!!!!! */
    text-align: center;
    line-height: 40px;
}
/* 두번째 item 안에 있는 img를 div보다 뒤에 배치 */
.cont01 .list .item:nth-child(2) img {
    order: 1;/* 앞뒤 순서 변경, 부모인 item에게 flex가 있어야 사용가능 */
}

@media screen and (max-width:1024px) {
    header .inner nav {
        display: none;/* 메뉴들 숨기기 */
    }
    .menu_open {
        display: block;/* 메뉴로고 보이기 */
    }
}/* 1024px */

@media screen and (max-width:640px) {
    header {
        height: 70px;
        line-height: 70px;/* 같이 잡아줘야 로고위치 가운데로 감 */
    }
    .cont01 .list .item {
        display: block;
        height: auto;/* 자동으로 자식만큼 크기 잡힘 */
    }
    .cont01 .list .item img {
        width: 100%;
        height: 400px;
    }
    .cont01 .list .item div {
        width: 100%;
        padding: 20px;
    }
}/* 640px */